<section class="container">
  <p class="first-para"><b>ID:</b> <%=data.id%></p>
  <p><b>Name:</b> <%=data.name%></p>
  <p><b>URL:</b> <%=data.url%></p>
  <p><b>Width:</b> <%=data.width%>px</p>
  <p><b>Height:</b> <%=data.height%>px</p>
  <img src="<%=data.url%>">
</section>